<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"     
  displayDetailsOnTestsThatTriggerWarnings="true"
  colors="true"
  bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="ParserTest">
            <file>test/ParserTest.php</file>
        </testsuite>
        <testsuite name="ExtensionTest">
            <file>test/ExtensionTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
    </php>
</phpunit>
